// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.top-body {
    margin: 33px
}

.top-fill-black {
    border-bottom: 1px solid #000;
    color: #000;
    background-color: #fff;
    display: inline-block;
    text-decoration: none;
    // margin-left: 50px;
    transition: .4s;
}
.top-fill-black:hover {
    color: #fff;
    background-color: #000;
    transition: .4s
}
.top-title {
    font-size: 26px;
    font-weight: bold;
}
.top-text {
    font-size: 13px;
    margin: 33px;
}